;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Wed Dec 23 22:08:28 2015
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("session" "exec-path" "git-emacs" "path-too" "Volum" "path-to"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("/Volumes/xiaoanh/gitlib/emacslib/"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/Volumes/xiaoanh/gitlib/emacslib/dotemacsw.el"
  "dotemacsw.el"
  'emacs-lisp-mode
  '(linum-mode auto-complete-mode ispell-minor-mode)
  14125
  '(27418 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/Volumes/xiaoanh/gitlib/emacslib/dotemacs.el"
  "dotemacs.el"
  'emacs-lisp-mode
  '(linum-mode auto-complete-mode)
  440
  '(492 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-dos)))

(desktop-create-buffer 206
  nil
  "emacslib"
  'dired-mode
  '(linum-mode)
  390
  '(nil nil)
  t
  '("/Volumes/xiaoanh/gitlib/emacslib/")
  nil)

